<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleStdOut" target="SYSTEM_OUT">
			<ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
			<PatternLayout pattern="[%logger{36}][%d{HH:mm:ss}] %msg%n"/>
		</Console>
		<Console name="ConsoleStdErr" target="SYSTEM_ERR">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%logger{36}][%d{HH:mm:ss}] %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="ConsoleStdOut"/>
			<AppenderRef ref="ConsoleStdErr"/>
		</Root>
	</Loggers>
</Configuration>